.caption1 {
    text-align: right;
    border-style: solid;
    border-color: black;
    background-color: white;
}
.caption2 {
    border-style: solid;
    border-color: black;
    background-color: white;
}
.myimage {
  float: right;
  margin-left: 10px;
  margin-right:10px;
}
.myimage1 {
  float: right;
  margin-left: 10px;
  margin-right:10px;
}
.myimage2 {
  float: right;
  margin-left: 10px;
  margin-right:10px;
}
* {
    margin: 0;
}

.pagetitle{
    text-align: center
}

.intro{
    background: linear-gradient(#e6e9f0, #a7bfe8); 
}

.mainsection{
    background: linear-gradient(#e6e9f0, #a7bfe8)
}

.projects{
    background: linear-gradient(#e6e9f0, #a7bfe8)
}

#contactinfo{
    background: linear-gradient(#a7bfe8, #a7bfe8)
}
.resumepage{
    background-color: #a7bfe8;
}










