.caption1 {
    text-align: right;
    border-style: solid;
    border-color: white;
    background-color: white;
}
.myimage {
  float: right;
  margin-left: 10px;
  margin-right:10px;
}
.myimage1 {
  float: right;
  margin-left: 10px;
  margin-right:10px;
}
.myimage2 {
  float: right;
  margin-left: 10px;
  margin-right:10px;
}
* {
    margin: 0;
}

.pagetitle{
    text-align: center
}

.intro{
    background: linear-gradient(lime, green); 
}

.mainsection{
    background: linear-gradient(green, red)
}

.projects{
    background: linear-gradient(red, violet)
}

#contactinfo{
    background: linear-gradient(violet, blue)
}



